// Place all the styles related to the TopMusics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "twitter/bootstrap";


.wapper {
	width: 1200px;
	height: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.topmus{
	background-color: rgba(255, 255, 255, 0.6);
	display: inline-block;
	width: 350px;
	height: 350px;
	margin: auto;
	margin-bottom: 40px;
	
}

.topmus img, section {
	text-align: center;
}

h4{
	background-color: #fff;
	color: #444;
	font-family: 'Audiowide';
	font-feature-settings: "'liga' 1";
	font-kerning: auto;
	font-style: normal;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: 0;
	}
h1{
	background-color: #FFF;
	color: #444;
	font-family: "Caesar Dressing";
	font-feature-settings: "'liga' 1";
	font-kerning: auto;
	font-style: normal;
	
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 150px; 
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: 0;
}

.topmus img{
	border-radius: 350px;
	box-shadow: 0 0 7px #333;
	width: 250px;
	height: 250px;
}

